.product-card {
    transition: transform 0.3s;
    height: 100%;
}
.product-card:hover {
    transform: scale(1.05);
}
.product-card img {
    height: 200px;    
    width: 100%;            
    object-fit: cover;     
}
