body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 70%;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background: #333;
  color: white;
}